.container {
    text-align: center;
    padding: 50px;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
}

.container>.header>h1 {
    color: white;
}
.container>.header>h3 {
    color: white;
}
.body {
    padding-top: 50px;
}
.body .ant-upload.ant-upload-drag {
    width: 50%;
    height: auto;
    margin: auto;
}
.ant-upload-drag-container {
    border: 3px dashed #b2bec3;
}
.body .ant-btn {
    margin-top: 30px;
}
.option {
    text-align: left;
    margin: 0 auto;
    width: 50%;
    margin-top: 20px;
}
.option>.switch>span {
    color: #55efc4;
    font-style: italic;
    font-weight: 600;
    margin-left: 20px;
}
.selector {
    text-align: center;
}
.selector .ant-select {
    margin: 10px;
    width: 200px;
}
/* .ant-form .ant-form-horizontal */